@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%; 
  width: 100%;
  zoom: 0.97

}

main{
  padding-top: 30px;
  height: 100%;
  width: 100%;
}

.apexcharts-toolbar{
  display: none !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
